<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="noticeMapper"> <!-- setter 필요  변수명 컬럼명 일치 -->
  

  
   	<update id="noticeUpdate" parameterType="com.jh.s3.model.board.NoticeVO">
  		update notice set title=#{title}, contents=#{contents} where num = #{num}
  	
  	</update>
   
  
  
  	<select id="noticeCount" resultType="java.lang.Integer" parameterType="com.jh.s3.util.RowMaker">
  		select count(num)from notice
  		<choose>
  			<when test="kind =='kt'">
  					where title like '%'||#{search}||'%'
  			</when>
  			<otherwise>
  					where contents like'%'||#{search}||'%'
  			</otherwise>
  		
  		</choose>
  	
  	</select>
  	
  
  
  	<select id = "noticeList" resultType="com.jh.s3.model.board.NoticeVO" parameterType="com.jh.s3.util.RowMaker">
  	
  			<!-- list에 num변수가 없기 때문에 vo에 담아서 list에 넣어줌  -->
			
  			select* from 
				(select N.*,rownum R from 
					(select * from notice 
					<choose>
						<when test="kind == 'kt'">
							where title like '%'||#{search}||'%' <!-- 연결연산자||-->
						</when>
						<otherwise>
							where contents like '%'||#{search}||'%'
						</otherwise>
					</choose>
					order by num desc) N)
			where R between #{startRow} and #{lastRow}
  	
  	</select>
  
  
  	<select id="noticeSelect" resultType="com.jh.s3.model.board.NoticeVO" parameterType="java.util.Map">
  		select*from notice where num= #{num}   			<!-- # num은 map의 키값 -->
  		
  	</select>
  
  
  
  	<insert id="noticeInsert" parameterType="com.jh.s3.model.board.NoticeVO"><!--  namespace의 id -->
  		insert into notice 
  		values(board_seq.nextval, #{title}, #{writer}, #{contents}, sysdate, 0) 	<!-- ;->x -->
  	</insert>
  	
  	<delete id="noticeDelete" parameterType="java.lang.Integer">
  	
  		delete notice where num= #{num}
  	
  	</delete>
  	
  
  </mapper>